* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header {
    background-image: url(img/jumbo.png);
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 4px;
}

header nav {
    margin-bottom: 1rem;
}

header nav .container {
    display: flex;
    align-items: center;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer {
    background-color: #23272a;
    padding-top: 6px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* .bg-yellow {
    background-color: #daa520;
  }
  
  .bg-grey {
    background-color: #d3d3d3;
  }
  
  .nav-links,  .nav-logo, .nav-login {
    border: 1px dashed black;
  }*/

.nav-logo {
    min-width: 150px;
}

.nav-links {
    flex-grow: 1;
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links ul a {
    display: inline-block;
    padding: 0 0.3rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-login {
    text-align: right;
}

.hero-section {
    padding: 2rem 0;
}

.hero-section .container {
    max-width: 680px;
    /*border: 1px dashed black;*/
    min-height: 300px;
}

.row {
    display: flex;
    justify-content: center;
}

.col-large,
.col-small {
    /* border: 1px dashed black;*/
    min-height: 300px;
}

.col-large {
    width: 50%;
    /*background-color: #1e90ff;*/

}

.col-small {
    width: 30%;
    /*background-color: #ffc0cb;*/
    padding-top: 25px;
}

.box-green {
    /*border: 1px dashed black;*/
    min-height: 500px;
    /*background-color: #228b22;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
}

footer .col {
    /* border: 1px dashed white;*/
    flex-grow: 1;
    background-color: #23272A;
    min-height: 300px;
    margin-top: 3rem;
}

footer .col-large {
    width: 15%;
    /* background-color: #f08080;*/
    border-color: black;
}

footer hr {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
}

.secondary-footer {
    /*background-color: #7fffd4;*/
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

/*   .footer-logo,
  .footer-btn {
    border: 1px dashed black;
    padding: 0.5rem;
    background-color: #FFB6C1;
  }*/

.li-lungo {
    min-width: 120px;
    margin: 0px 10px 0px 10px;
}

.linkbianco,
.li-lungo {
    text-decoration: white;
}

button {
    border-radius: 30px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 30px;
    text-align: center;
    padding: auto;
}

.black {
    background-color: #23272a;
    color: white;
}

header section .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.container h1,
h2 {
    padding-bottom: 25px;
    padding-top: 10px;
}

span {
    color: white;
    padding: 25px;

}

.N1 {
    background-image: url(img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.N2 {
    background-image: url(img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.N3 {
    background-image: url(img/item3.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.col-small,
span {
    line-height: 1.5rem;
}

.viola {
    background-color: #7983F5;
    margin-top: 50px;
    color: white;
}

.stato {
    width: 25px;
    padding-left: 5px;


}

.col.col-large h2 {
    text-align: left;
    color: #7983F5;
}

.container .row .col {
    text-align: start;
}

.social {
    display: flex;
    align-content: start;
}

footer .col ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    color: #7983F5;

}

footer .col ul li a {
    text-decoration: none;
    color: azure;
    line-height: 1.5rem;
    font-size: small;
}

footer .row {
    border-bottom: 1px solid #7983F5;
}

.footer-btn {
    background-color: #7983F5;
    color: white;
}

.hero-section .container h1 {
    font-size: 42PX;
    font-weight: 600;
    color: white;
}